@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/BebasNeuewebfont.eot');
    src: url('./fonts/BebasNeuewebfont.woff') format('woff');
    src: url('./fonts/BebasNeuewebfont.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}
*::selection {
    background: #FFFECC;
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Droid Serif';
    color: #1A1B1B;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: red;
    text-decoration: none;
}
a:hover {
    color: #1A1B1B;
}

h1, h2 {
    font-family: 'Bebas Neue';
    font-weight: normal;
    color: #343434;
}

h1 {
    font-size: 48px;
    line-height: 44px;
    margin: 0;
}
    h1 a:hover {
        color: red;
    }
    h1 span {
        font-size: 24px;
        line-height: 24px;
        color: #666;
    }

h2 {
    font-size: 36px;
    line-height: 36px;
    margin: 50px 0 0 0;
}

ul {
    list-style: square;
    padding: 0 0 0 20px;
    margin: 15px 0;
}
    ul ul {
        margin: 0;
    }

code {
    font-family: 'Courier';
    font-size: 14px;
    background: #F7F7F7;
    padding: 2px;
}
code::selection {
    color: white;
    background: red;
}

pre {
    background: #F7F7F7;
    padding: 20px 0;
    width: 110%;
    margin-left: -5%;
    padding-left: 5%;
}

nav#floating {
    position: fixed;
    margin-left: 650px;
    top: 49px;
    width: 200px;
}
    nav#floating a {
        display: block;
        color: #666;
    }
    nav#floating a:hover {
        color: #1A1B1B;
    }
    nav#floating > li {
        list-style: square;
        margin-left: 20px;
    }
    nav#floating > ul {
        margin: 0;
        padding: 0;
    }
    nav#floating > ul > li {
        list-style: none;
    }

section#content {
    width: 560px;
    margin: 50px 0 0 50px;
}

nav#inner {
    float: right;
    text-align: right;
    line-height: 24px;
}

footer {
    padding-bottom: 72px;
    margin-top: 50px;
    font-size: 14px;
    color: #555;
}
    footer .left {
        float: left;
    }
    footer .right {
        float: right;
        text-align: right;
    }
