
        <footer>
            <span class="left">
                Luapress is MIT licensed<br />
                &copy; <a href="http://pointlessramblings.com">Nick Barrett</a> 2019
            </span>
            <span class="right">
                Built with <a href="{{{url}}}">Luapress</a><br />
                <a href="https://github.com/Fizzadar/luapress.org">GitHub source</a>
            </span>
        </footer>
    </section>
</body>
</html>
